* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  width: 100vw;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%ss;
  bottom: 0;
  background-image: url(images/pro2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0.7;
}
.container {
  z-index: 2;
  max-width: 90%;
}
/* @media (min-width: 578px) {
  body::before {
    background-image: url(images/pro1.jpg);
    opacity: 0.65;
  }
}*/
@media (max-width: 786px) {
  .main_content {
    margin: 10% auto;
  }
}
@media (max-width: 538px) {
  .main_content {
    margin: 10% auto;
    width: 90%;
    font-size: 1.2rem;
    max-height: 90%;
  }

  .header {
    animation-name: changebg;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@keyframes changebg {
  0% {
    background-color: gray;
  }
  50% {
    background: linear-gradient(140deg, goldenrod, purple);
  }
}
.header {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: gray;
  border: solid 2px;
  color: black;
  border-radius: 5px;
  transition: 0.5s;
  padding: 10px;
}
.main_content {
  background-color: fffff;
  width: 50vw;
  height: max-content;
  background-color: white;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px;
}
.text_quote {
  font-size: 1.5rem;
  margin: 20px auto 10px;
  line-height: 1.5;
  padding: 10px;
}
.text_area {
  height: max-content;
}
.person {
  color: rgb(167, 75, 75);
  margin-top: 5px;
  font-size: 1.6rem;
  text-transform: uppercase;
}
button {
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0 0 5px;
  font-size: 1rem;
  transition: 0.5s;

  margin: 15px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button:active {
  background-color: black;
  color: white;
}
